<div class="feature__wrapper" id="contact" style="border-bottom: 0;">
  <div class="feature__item">
    <h1>Contact Us</h1>
    <div>
      <form
      action="https://formspree.io/f/myzgjdwj"
      method="POST"
    >
        <label>
          Your email:
          <input type="email" name="email">
        </label>
        <label>
          Your message:
          <textarea name="message"></textarea>
        </label>
        <!-- your other form fields go here -->
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
