<div class="feature__wrapper" style="border-bottom: 0;">
  <div class="feature__item" style="width: 43%;">
    <div data-tf-live="01J50VZ80NN98XKFP4W3RFDYAC"></div><script src="//embed.typeform.com/next/embed.js"></script>
  </div>
  <div class="feature__item" style="width: 55%;">
    <div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}
  <br>
  Grande Ronde Gravity is a registered 501(c)(3) non-profit recognized by the IRS. 
  <br>
  Tax ID Number: 99-3504686
</div>
  </div>
</div>
