<div>
  <h3>Join our mailing list</h3>
</div>
<div class="feature__wrapper" style="border-bottom: 0;">
  <div class="feature__item" style="width: 43%;">
    <form
      action="https://formspree.io/f/xzzpgkdo"
      method="POST"
      style="background-color: rgb(233, 220, 190);"
    >
      <input type="text" name="name" placeholder="Name">

      <input type="email" name="email" placeholder="Email">
      <!-- your other form fields go here -->
      <button type="submit" class="btn btn--primary">Receive our newsletter</button>
    </form>  
  </div>
  <div class="feature__item" style="width: 55%;">
    <div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}
  <br>
  Grande Ronde Gravity is a registered 501(c)(3) non-profit recognized by the IRS. 
  <br>
  Tax ID Number: 99-3504686
</div>
  </div>
</div>
